[run]
branch=True
disable_warnings=
  module-not-measured
relative_files=True
source_pkgs=
  cactus
  tests
omit=
  tests/**/config.py
concurrency=multiprocessing, thread
parallel=True

[paths]
source =
  cactus/
  venv/**/site-packages/cactus/

[report]
precision = 1
exclude_also =
  abc\.abstractmethod
  typing\.overload
  ^\s*\.\.\.\s*$
  if typing.TYPE_CHECKING:
  if TYPE_CHECKING:
  ^ *@pytest.mark.skip($|\()
