[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca/
[submodule "cactus-blockchain-gui"]
	path = chia-blockchain-gui
	url = https://github.com/dominick01234/chia-blockchain-gui
