[submodule "cactus-blockchain-gui"]
	path = cactus-blockchain-gui
	url = https://github.com/dominick01234/cactus-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
