Package: cactus-blockchain-cli
Version: {{ CACTUS_DEB_CONTROL_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Cactus Network Inc <hello@cactus-network.net>
Homepage: https://cactus-network.net
Section: net
Priority: optional
Description: Cactus Blockchain CLI
 Cactus blockchain full node, farmer, harvester, timelord, and wallet
 (command-line tools and services, without the GUI).
